{# ssh -o StrictHostKeyChecking=no "$user@$host" #}
Host {{ control_plane_ip }} {# TODO: Need to do a * at the end, or all of the IPs #}
User {{ abm_install_user }}
Port 22
StrictHostKeyChecking no
IdentityFile ~/.ssh/{{ ssh_key_name }}
