{#
  # Copyright 2023 Google LLC
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
#}
#!/bin/bash

VERBOSE=$1
DELIM=','


if [[ ! -z "${VERBOSE}" ]]; then
    echo "Checking CDI Node status..."
fi

LINES=$(kubectl get vmi -o jsonpath="{range .items[*]}{@..items[0].status.nodeName }{\"${DELIM}\"}{@..items[0].status.phase }{\"${DELIM}\"}{@..items[*].metadata.name}{\"\\n\"}" --all-namespaces)

readarray -t VMI_LINES <<<"$LINES"

for LINE in ${VMI_LINES[@]}; do

    readarray -d ${DELIM} -t TOKENS <<< "$LINE"

    if [[ ! -z "${TOKENS[0]}" ]]; then
        NODE="${TOKENS[0]}"
        STATUS="${TOKENS[1]}"
        VMI="${TOKENS[2]}"
        if [[ "${STATUS}" != "Running" ]]; then
            kubectl label node ${NODE} cpumanager=true --overwrite=true
        else
            if [[ ! -z "${VERBOSE}" ]]; then
                echo "${VMI} is ${STATUS}, no need to add or change the cpumanager flag on the node"
            fi
        fi
    else
        if [[ ! -z "${VERBOSE}" ]]; then
            echo "No changes needed"
        fi
    fi
done