## Variables set at time of provisioning based on provisioning run

# Name of the cluster
cluster_name: "{{ cluster_name }}"
# Used for logging/metrics
machine_label: "{{ machine_label }}"
# This machine's IP address
machine_ip: "{{ node_ip }}"
# IPs of the peer nodes
peer_node_ips: "{{ peer_node_ips }}"
# is a primary machine
primary_cluster_machine: "{{ (primary_cluster_machine is defined and primary_cluster_machine==true) | ternary(true , false) }}"

google_secret_project_id: "{{ lookup('env', 'SECRET_PROJECT_ID') | default(google_project_id, True) }}"
