kind: NetworkGatewayGroup
apiVersion: networking.gke.io/v1
metadata:
  name: default
  namespace: kube-system
spec:
  floatingIPs:
  {% for range in network_gateway_group_ips %}
  - {{ range }}
  {% endfor %}