
deb [signed-by={{ nvidia_key_location }}] https://nvidia.github.io/libnvidia-container/stable/deb/$(ARCH) /
#deb [signed-by={{ nvidia_key_location }}] https://nvidia.github.io/libnvidia-container/experimental/deb/$(ARCH) /

